.logo {
  color: #fff;
}
.header-container {
  display: flex;
  background-color: #181818;
  justify-content: space-around;
  padding: 20px;
}
.header-links-container {
  display: flex;
  align-items: center;
}
.header-text {
  color: #f1f5f9;
  margin: 10px;
}
.input-search {
  padding: 5px;
  margin: 10px;
}
.link {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .input-search {
    width: 50px;
  }
  .header-text {
    font-size: 10px;
  }
}
